<ion-view view-title="App Help & Feedback">
    <ion-content has-bouncing="false">
        <div class="card" ng-repeat="section in feedback.sections">
            <div class="item item-divider active">
                {{section.title}}
            </div>
            <div class="item item-text-wrap">
                {{section.content}}

                <button class="button button-block button-womencourage ion-email" ng-if="section.title == 'About the App'" ng-click="openURL(section.mailurl)" style="margin-top: 20px">
                    {{section.buttontext}}
                </button>

                <button class="button button-block button-womencourage ion-compose" ng-if="section.title == 'Feedback'" ng-click="openURL(section.formurl)" style="margin-top: 20px">
                    {{section.buttontext}}
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
