<ion-view view-title="App Feedback">
    <ion-content>
        <div class="card">
            <ion-item class="item-divider">About the app</ion-item>
            <ion-item>This app was developed by three IT students...</ion-item>
        </div>
        <div class="card">
            <ion-item class="item-divider">Help</ion-item>
            <ion-item>Tips etc... FAQ, export restrictions...</ion-item>
        </div>
        <div class="card">
            <ion-item class="item-divider">Feedback</ion-item>
            <ion-item>We gladly appreciate all the feedback we can get...</ion-item>
        </div>
    </ion-content>
</ion-view>
