<ion-view view-title="Industry Talks">
    <ion-content>
        <div class="card">
            <div class="item item-divider item-text-wrap">
                {{entry.activeEntry.title}}
            </div>
            <div class="item item-text-wrap">
                <h2><i class="ion-calendar"></i> {{entry.activeEntry.startDate.toDateString()}}</h2>
                <h3><i class="ion-android-time"></i> {{entry.activeEntry.startDate.toTimeString().substr(0,5)}} - {{entry.activeEntry.endDate.toTimeString().substr(0,5)}}</h3>
                <p ng-if="entry.activeEntry.location"><i class="ion-location"></i> {{entry.activeEntry.location}}</p>
                <div class="checkbox-wrapper-schedule">
                    <label class="toggle">
                        <input type="checkbox" ng-model="entry.activeEntry.isInMySchedule" ng-click="toggleInMySchedule(entry.activeEntry)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="card" ng-repeat="talk in entry.activeEntry.talks">
            <ion-item class="item-divider active item-text-wrap">
                {{talk.title}}
            </ion-item>
            <ion-item class="item-text-wrap">
                <h2>{{talk.company}}</h2>
                <h3><i class="ion-android-time"></i> {{talk.startDate.toTimeString().substr(0,5)}} - {{talk.endDate.toTimeString().substr(0,5)}}</h3>
            </ion-item>
            <ion-item class="item-divider gray"><p>Speakers</p></ion-item>
            <ion-item class="item-avatar" ng-repeat="speaker in talk.speakers | orderBy: 'lastName'" ng-href="#/app/speaker/{{speaker.id}}">
                <i class="ion-android-person"></i>
                <h2>{{speaker.lastName}}, {{speaker.firstName}}</h2>
                <p>{{speaker.affiliation}}</p>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
