<ion-view view-title="Information">
    <ion-content>
        <div style="width:100%; text-align: center" class="banner-start img" >
            <img src="img/banner-small.png" />
        </div>
        <div class="card" ng-repeat="section in information.information.texts">
            <div class="item item-divider active">
                {{section.title}}
            </div>
            <div class="item item-text-wrap">
                {{section.content}}
            </div>
        </div>
    </ion-content>
</ion-view>