<ion-view view-title="Keynote">
    <ion-content>
        <div class="card">
            <div class="item item-divider item-text-wrap">
                {{entry.activeEntry.title}}
            </div>
            <div class="item item-text-wrap">
                <h2>{{entry.activeEntry.startDate.toDateString()}}</h2>
                <h3>{{entry.activeEntry.startDate.toTimeString().substr(0,5)}} - {{entry.activeEntry.endDate.toTimeString().substr(0,5)}}</h3>
                <p>{{entry.activeEntry.speakers}}</p>
                <h2>Description</h2>
                <p>{{entry.activeEntry.description}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>