<ion-view view-title="Panel">
    <ion-content>
        <div class="card">
            <div class="item item-divider item-text-wrap">
                {{entry.activeEntry.title}}
            </div>
            <div class="item item-text-wrap">
                <h2><i class="ion-calendar"></i> {{entry.activeEntry.startDate.toDateString()}}</h2>
                <h3><i class="ion-android-time"></i> {{entry.activeEntry.startDate.toTimeString().substr(0,5)}} - {{entry.activeEntry.endDate.toTimeString().substr(0,5)}}</h3>
                <p ng-if="entry.activeEntry.location"><i class="ion-location"></i> {{entry.activeEntry.location}}</p>
                <div class="checkbox-wrapper-schedule">
                    <label class="toggle">
                        <input type="checkbox" ng-model="entry.activeEntry.isInMySchedule" ng-click="toggleInMySchedule(entry.activeEntry)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
            <div ng-if="entry.activeEntry.description && entry.activeEntry.description.length > 0">
                <ion-item class="item-divider gray"><p>Description</p></ion-item>
                <ion-item class="item-text-wrap entry-description">
                    <p ng-repeat="paragraph in entry.activeEntry.description">{{paragraph}}</p>
                </ion-item>
            </div>
        </div>
        <div class="card list" ng-if="entry.activeEntry.moderators.length > 0">
            <ion-item class="item-divider active">Moderators</ion-item>
            <ion-item class="item-avatar" ng-repeat="moderator in entry.activeEntry.moderators | orderBy: 'lastName'" ng-href="#/app/speaker/{{moderator.id}}">
                <i class="ion-android-person"></i>
                <h2>{{moderator.lastName}}, {{moderator.firstName}}</h2>
                <p>{{moderator.affiliation}}</p>
            </ion-item>
        </div>
        <div class="card list" ng-if="entry.activeEntry.speakers.length > 0">
            <ion-item class="item-divider active">Panelists</ion-item>
            <ion-item class="item-avatar" ng-repeat="panelist in entry.activeEntry.panelists | orderBy: 'lastName'" ng-href="#/app/speaker/{{panelist.id}}">
                <i class="ion-android-person"></i>
                <h2>{{panelist.lastName}}, {{panelist.firstName}}</h2>
                <p>{{panelist.affiliation}}</p>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
