<ion-view view-title="Panel">
    <ion-content>
        <div class="card">
            <div class="item item-divider item-text-wrap">
                {{entry.activeEntry.title}}
            </div>
            <div class="item item-text-wrap">
                <h2><i class="ion-calendar"></i> {{entry.activeEntry.startDate.toDateString()}}</h2>
                <h3><i class="ion-android-time"></i> {{entry.activeEntry.startDate.toTimeString().substr(0,5)}} - {{entry.activeEntry.endDate.toTimeString().substr(0,5)}}</h3>
                <p><i class="ion-location"></i> {{entry.activeEntry.location}}</p>
                <div class="checkbox-wrapper-schedule">
                    <label class="toggle">
                        <input type="checkbox" ng-model="entry.activeEntry.isInMySchedule" ng-click="schedule.toggleInMySchedule(entry.activeEntry)">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="card list" ng-if="entry.activeEntry.moderators.length > 0">
            <ion-item class="item-divider active">Moderators</ion-item>
            <ion-item class="item-avatar" ng-repeat="moderator in entry.activeEntry.moderators" ng-href="#/app/speaker/{{moderator.id}}">
                <i class="ion-android-person"></i>
                <h2>{{moderator.firstName}} {{moderator.lastName}}</h2>
                <p>{{moderator.affiliation}}</p>
            </ion-item>
        </div>
        <div class="card list" ng-if="entry.activeEntry.speakers.length > 0">
            <ion-item class="item-divider active">Panelists</ion-item>
            <ion-item class="item-avatar" ng-repeat="speaker in entry.activeEntry.speakers" ng-href="#/app/speaker/{{speaker.id}}">
                <i class="ion-android-person"></i>
                <h2>{{speaker.firstName}} {{speaker.lastName}}</h2>
                <p>{{speaker.affiliation}}</p>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
