<ion-view view-title="Panel">
    <ion-content>
        <div class="card">
            <div class="item item-divider item-text-wrap">
                {{entry.activeEntry.title}}
            </div>
            <div class="item item-text-wrap">
                <h2><i class="ion-calendar"></i> {{entry.activeEntry.startDate.toDateString()}}</h2>
                <h3><i class="ion-android-time"></i> {{entry.activeEntry.startDate.toTimeString().substr(0,5)}} - {{entry.activeEntry.endDate.toTimeString().substr(0,5)}}</h3>
                <p><i class="ion-location"></i> {{entry.activeEntry.location}}</p>
                <p><i class="ion-ios-people"></i> {{entry.activeEntry.speakers}}</p>
                <p><i class="ion-star"></i> <b>Moderator:</b> {{entry.activeEntry.moderator}}</p>
            </div>
        </div>
        <ion-item class="item-divider">
            Panelists
        </ion-item>
        <div class="card" >
            <div class="list">
                <a class="item item-avatar" ng-href="#/app/speaker/{{speaker._id}}" ng-click="speakers.setActiveSpeaker(speaker)" ng-repeat="speaker in entry.activeEntry.speakers">
                    <i class="ion-android-person" style="font-size: 40px"></i>
                    <h2>{{speaker.firstName}} {{speaker.lastName}}</h2>
                    <p>{{speaker.affiliation}}</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
