<ion-view view-title="Poster">
    <ion-content>
        <div class="card">
            <div class="item item-divider item-text-wrap">
                {{poster.activePoster.title}}
            </div>
            <div class="item item-text-wrap">
                <p><span ng-repeat="author in poster.activePoster.authors">{{author}}<span ng-if="!$last">, </span></span></p>
            </div>
            <ion-item class="item-divider gray"><p>Description</p></ion-item>
            <ion-item class="item-text-wrap">
                <p>{{poster.activePoster.description}}</p>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
