<ion-view view-title="Schedule">
    <ion-content has-bouncing="false">
        <ion-slide-box style="padding-left: 10px" active-slide="0" pager-click="schedule.changeSlide(index)">
            <ion-slide ng-repeat="day in schedule.days">
                <ion-list>
                    <ion-item class="item-divider item-input item-select">
                        <h1>{{day.name}}</h1>
                        <select ng-model="schedule.sortmode" ng-change="schedule.update()" ng-options="sortmode.name for sortmode in schedule.sortmodes">
                        </select>
                    </ion-item>
                    <div ng-repeat="group in day.groups">
                        <ion-item class="item-divider" ng-click="group.visible = !group.visible" ng-class="{active: group.visible}">{{group.name}}</ion-item>
                        <ion-item class="item-accordion item-text-wrap" ng-repeat="session in group.sessions" ng-click="schedule.setSession(session)" ng-href="{{schedule.getURL(session)}}/{{session._id}}" ng-show="group.visible" style="background-color: {{schedule.getEntryColor(session)}}">
                            <div class="item-wrapper-schedule">
                                <div class="info-schedule">
                                    <h3>{{session.startDate.toTimeString().substr(0,5)}} - {{session.endDate.toTimeString().substr(0,5)}}</h3>
                                    <h2>{{session.title}}</h2>
                                    <p>{{session.speakers}}</p>
                                </div>

                                <!-- Toggle-button to add for personal schedule -->
                                <div class="checkbox-wrapper-schedule">
                                    <label class="toggle">
                                        <input type="checkbox">
                                        <div class="track">
                                            <div class="handle"></div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </ion-item>
                    </div>
                </ion-list>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
