<ion-view view-title="{{schedule.mySchedule ? 'My Schedule' : 'Schedule'}}">

    <ion-nav-buttons side="right">
        <button class="button button-clear button-light icon ion-refresh" ng-click="schedule.update()">
        </button>
        <button class="button button-clear button-light icon ion-arrow-down-a" ng-click="schedule.exportMySchedule()" ng-show="schedule.mySchedule">
            Export
        </button>
    </ion-nav-buttons>

    <div class="bar bar-header complete-center" style="height:20px; margin-top:50px">
        <h3 class="month-schedule">September 2015</h3>
        <select class="drop-down-schedule" ng-model="schedule.sortmode" ng-change="schedule.update()" ng-options="sortmode.name for sortmode in schedule.sortmodes"></select>
    </div>
    <div class="bar bar-subheader" style="height:80px;margin-top:35px">
        <div class="wrapper-pager">
            <button class="button button-womencourage margin-pager" ng-click="schedule.changeSlide($index)" ng-repeat="day in schedule.days" ng-class="{'disabled': schedule.isDisabled($index)}">
                <h3 class="day-char">{{day.name.substr(0,3)}}</h3>
                <h3 class="day-num">{{day.name.substr(7,3)}}</h3>
            </button>
        </div>
    </div>

    <ion-content has-bouncing="false" style="margin-top: 110px">
        <ion-slide-box on-slide-changed="schedule.setMyActiveSlide($index)" active-slide="myActiveSlide" show-pager="false">
                    <ion-slide ng-repeat="day in schedule.days">
                        <ion-list>
                            <div ng-repeat="group in day.groups">
                                <ion-item class="item-divider" ng-click="group.visible = !group.visible" ng-class="{active: group.visible}">{{group.name}}</ion-item>
                                <ion-item class="item-accordion item-text-wrap" ng-repeat="entry in group.entries" ng-click="schedule.setActiveEntry(entry)" ng-href="{{schedule.getEntryURL(entry)}}/{{entry._id}}" ng-show="group.visible" style="background-color: {{schedule.getEntryColor(entry)}}">
                                    <div class="item-wrapper-schedule">
                                        <div class="info-schedule">
                                            <h2>{{entry.title}}</h2>
                                            <h3><i class="ion-android-time"></i> {{entry.startDate.toTimeString().substr(0,5)}} - {{entry.endDate.toTimeString().substr(0,5)}}</h3>
                                            <p ng-if="entry.location"><i class="ion-location"></i> {{entry.location}}</p>
                                            <p ng-if="entry.speakers"><i class="ion-ios-people"></i> {{entry.speakers}}</p>
                                        </div>

                                        <!-- Toggle-button to add for personal schedule -->
                                        <div class="checkbox-wrapper-schedule">
                                            <label class="toggle">
                                                <input type="checkbox" ng-model="entry.isInMySchedule" ng-click="schedule.toggleInMySchedule(entry)">
                                                <div class="track">
                                                    <div class="handle"></div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </ion-item>
                            </div>
                        </ion-list>
                    </ion-slide>
                </ion-slide-box>
            </ion-content>
</ion-view>