<ion-view view-title="{{schedule.mySchedule ? 'My Schedule' : 'Schedule'}}">

    <ion-nav-buttons side="right">
        <button class="button button-clear button-light icon ion-refresh" ng-click="schedule.update()">
        </button>
        <button class="button button-clear button-light icon ion-arrow-down-a" ng-click="schedule.exportMySchedule()" ng-show="schedule.mySchedule">
            Export
        </button>
    </ion-nav-buttons>


    <ion-content has-bouncing="false">
        <div class="bar bar-stable complete-center" style="height: 30px;">
            <h3 class="month-schedule">September 2015</h3>
            <select class="drop-down-schedule" ng-model="schedule.sortmode" ng-change="schedule.update()" ng-options="sortmode.name for sortmode in schedule.sortmodes"></select>
        </div>


        <div class="bar bar-subheader bar-stable subheader-schedule">
            <div class="wrapper-pager">
                <button class="button margin-pager" ng-click="schedule.changeSlide($index)" ng-repeat="day in schedule.days" ng-class="schedule.isActive($index)">
                    <h3 class="day-char"> {{day.name.substr(0,3)}}, {{day.name.substr(7,3)}} </h3>
                </button>
            </div>
        </div>

        <div class="bar bar-subheader header-divider-schedule"></div>
    </ion-content>


    <ion-content has-header="true" has-subheader="true" has-bouncing="false" style="margin-top: 71px">
        <ion-slide-box on-slide-changed="schedule.changeSlide($index)" active-slide="myActiveSlide" show-pager="false">
            <ion-slide ng-repeat="day in schedule.days">
                <ion-list>
                    <div ng-repeat="group in day.groups">
                        <ion-item class="item-divider" ng-click="group.visible = !group.visible" ng-class="{active: group.visible}">{{group.name}}</ion-item>
                        <ion-item class="item-accordion item-text-wrap" ng-repeat="entry in group.entries | orderBy: 'title'" ng-href="{{getEntryURL(entry)}}" ng-show="group.visible">
                            <div class="item-wrapper-schedule">
                                <div class="color-stripe-schedule" style="background-color: {{getEntryColor(entry)}}"></div>
                                <div class="info-schedule">
                                    <h2>{{entry.title}}</h2>
                                    <h3><i class="ion-android-time"></i> {{entry.startDate.toTimeString().substr(0,5)}} - {{entry.endDate.toTimeString().substr(0,5)}}</h3>
                                    <p ng-if="entry.location"><i class="ion-location"></i> {{entry.location}}</p>
                                    <p ng-if="entry.speakers.length > 0"><i class="ion-ios-people"></i> <span ng-repeat="speaker in entry.speakers">{{speaker.firstName}} {{speaker.lastName}}<span ng-if="!$last">, </span></span></p>
                                </div>

                                <!-- Toggle-button to add for personal schedule -->
                                <a>
                                   <div class="checkbox-wrapper-schedule button button-transparent" ng-click="toggleInMySchedule(entry)">
                                        <label class="toggle">
                                            <input type="checkbox" ng-model="entry.isInMySchedule" ng-click="toggleInMySchedule(entry)">
                                            <div class="track">
                                                <div class="handle"></div>
                                            </div>
                                        </label>
                                    </div>
                                </a>
                            </div>
                        </ion-item>
                    </div>
                </ion-list>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>