<ion-view view-title="Speakers">
    <ion-content has-bouncing="false">
        <div class="list" >
            <a class="item item-avatar" ng-href="#/speaker/{{speaker._id}}" ng-click="speakers.setActiveSpeaker(speaker)" ng-repeat="speaker in [{
            _id: 'spkr002',
            firstName: 'Bernard',
            lastName: 'NKaoua',
            affiliation: 'Uppsala Universitet',
            papers: ['papr0001']
        },{
            _id: 'spkr002',
            firstName: 'Bernard',
            lastName: 'NKaoua',
            affiliation: 'Uppsala Universitet',
            papers: ['papr0001']
        },{
            _id: 'spkr002',
            firstName: 'Bernard',
            lastName: 'NKaoua',
            affiliation: 'Uppsala Universitet',
            papers: ['papr0001']
        },{
            _id: 'spkr002',
            firstName: 'Bernard',
            lastName: 'NKaoua',
            affiliation: 'Uppsala Universitet',
            papers: ['papr0001']
        },{
            _id: 'spkr002',
            firstName: 'Bernard',
            lastName: 'NKaoua',
            affiliation: 'Uppsala Universitet',
            papers: ['papr0001']
        },{
            _id: 'spkr002',
            firstName: 'Bernard',
            lastName: 'NKaoua',
            affiliation: 'Uppsala Universitet',
            papers: ['papr0001']
        },{
            _id: 'spkr002',
            firstName: 'Bernard',
            lastName: 'NKaoua',
            affiliation: 'Uppsala Universitet',
            papers: ['papr0001']
        },{
            _id: 'spkr002',
            firstName: 'Bernard',
            lastName: 'NKaoua',
            affiliation: 'Uppsala Universitet',
            papers: ['papr0001']
        }]">
                <i class="ion-android-person" style="font-size: 40px"></i>
                <h2>{{speaker.firstName}} {{speaker.lastName}}</h2>
                <p>{{speaker.affiliation}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>
