<ion-view view-title="Speaker">
    <ion-content>
        <div class="card">
            <div class="item item-divider item-text-wrap">
                {{speaker.activeSpeaker.firstName}} {{speaker.activeSpeaker.lastName}}
            </div>
            <div class="item item-text-wrap">
                <p>{{speaker.activeSpeaker.affiliation}}</p>
            </div>
        </div>
        <ion-item class="item-divider" ng-if="speaker.activeSpeaker.papers.length > 0">
            Papers
        </ion-item>
        <div class="card" ng-repeat="paper in speaker.activeSpeaker.papers">
            <ion-item class="item-divider">
                {{paper.title}}
            </ion-item>
            <div class="padding">
                <h4></h4>
                <h5>Authors</h5>
                <div ng-repeat="author in paper.authors">{{author}}</div>
            </div>
        </div>
    </ion-content>
</ion-view>
