<ion-view view-title="Sponsors and Supporters">
    <ion-content has-bouncing="false">
        <ion-list>
            <ion-item class="item-divider">
                Sponsors
            </ion-item>
            <ion-item class="item-text-wrap" ng-repeat="sponsor in supporters.sponsors">
                <img src="img/{{sponsor.logo}}" alt="{{sponsor.name}} logo" style="max-width: 100%"/>
            </ion-item>
            <ion-item class="item-divider">
                Supporters
            </ion-item>
            <ion-item class="item-text-wrap" ng-repeat="supporter in supporters.supporters">
                <img src="img/{{supporter.logo}}" alt="{{supporter.name}} logo" style="max-width: 100%"/>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>