<ion-view view-title="Start">
        <ion-content class="complete-center">
            <div class="banner-start complete-center">
                <img src="img/banner-small.png" />
            </div>
            <div class="row">
                <div class="col complete-center">
                    <button class="button button-start ion-information-circled button-womencourage" ui-sref="app.info"><p>Information</p></button>
                </div>
                <div class="col complete-center">
                    <button class="button button-start ion-calendar button-womencourage" ui-sref="app.schedule"><p>Schedule</p></button>
                </div>
                <div class="col complete-center">
                    <button class="button button-start ion-person button-womencourage" ui-sref="app.my-schedule"><p>My Schedule</p></button>
                </div>
            </div>

            <div class="row">
                <div class="col complete-center">
                    <button class="button button-start ion-ios-paper button-womencourage" ui-sref="app.papers"><p>Papers</p></button>
                </div>
                <div class="col complete-center">
                    <button class="button button-start ion-mic-b button-womencourage" ui-sref="app.speakers"><p>Speakers</p></button>
                </div>
                <div class="col complete-center">
                    <button class="button button-start ion-easel button-womencourage" ui-sref="app.posters"><p>Posters</p></button>
                </div>
            </div>

            <div class="row">
                <div class="col complete-center">
                    <button class="button button-start ion-map button-womencourage" ui-sref="app.map"><p>Map</p></button>
                </div>
                <div class="col complete-center">
                    <button class="button button-start ion-ribbon-b button-womencourage" ui-sref="app.supporters"><p>Supporters</p></button>
                </div>
                <div class="col complete-center">
                    <button class="button button-start ion-alert-circled button-womencourage" ui-sref="app.emergency-contact"><p>Emergency</p></button>
                </div>
            </div>

        </ion-content>
</ion-view>