<ion-view view-title="Start" hide-nav-bar="true">
        <ion-content class="row responsive-lg">
            <div class="row">
                <div class="col">
                    <a class="button icon-left ion-information-circled button-royal" ui-sref="app.info">
                        Information</a>
                    </div>
                <div class="col">
                    <button class="button icon-left ion-alert-circled button-royal"> News</button>
                </div>
                <div class="col">
                    <button class="button icon-left ion-map button-royal"> Map</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="button icon-left ion-calendar button-royal"> Schedule</button>
                </div>
                <div class="col">
                    <button class="button icon-left ion-person button-royal"> My Schedule</button>
                </div>
                <div class="col">
                    <button class="button icon-left ion-mic-a ion-map button-royal"> Speakers</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="button icon-left ion-ribbon-b button-royal"> Sponsors</button>
                </div>
                <div class="col">
                    <button class="button icon-left ion-android-star-outline button-royal"> Supporters</button>
                </div>
                <div class="col">
                    <button class="button icon-left ion-help button-royal"> Space</button>
                </div>
            </div>
        </ion-content>
</ion-view>