<ion-view view-title="Start" hide-nav-bar="true">
        <ion-content class="row responsive-lg">
            <div class="row">
                <div class="col">
                    <button class="button icon-left ion-information-circled button-royal" ui-sref="app.info">Information</button>
                </div>
                <div class="col">
                    <button class="button icon-left ion-alert-circled button-royal" ui-sref="app.news"> News</button>
                </div>
                <div class="col">
                    <button class="button icon-left ion-map button-royal" ui-sref="app.map"> Map</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="button icon-left ion-calendar button-royal" ui-sref="app.schedule"> Schedule</button>
                </div>
                <div class="col">
                    <button class="button icon-left ion-person button-royal" ui-sref="app.my-schedule"> My Schedule</button>
                </div>
                <div class="col">
                    <button class="button icon-left ion-mic-a ion-map button-royal" ui-sref="app.speakers"> Speakers</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="button icon-left ion-ribbon-b button-royal" ui-sref="app.sponsors"> Sponsors</button>
                </div>
                <div class="col">
                    <button class="button icon-left ion-android-star-outline button-royal" ui-sref="app.supporters"> Supporters</button>
                </div>
                <div class="col">
                    <button class="button icon-left ion-help button-royal"> Space</button>
                </div>
            </div>

        </ion-content>
</ion-view>