.button-start{
    width: 140px;
}

.bar.bar-womencourage {
    border-color: #520752;
    background-color: #520752;
    background-image: linear-gradient(0deg, #520752, #520752 50%, transparent 50%);
    color: #fff; }
.bar.bar-womencourage .title {
    color: #fff; }
.bar.bar-womencourage.bar-footer {
    background-image: linear-gradient(180deg, #520752, #520752 50%, transparent 50%); }