/* Start page buttons */
.button-start{
    width: 90px;
    font-size: 11px;
    line-height: 20px;
}
.button-start::before {
    padding-top: 10px;
    padding-bottom: 2px;
    font-size: 45px;
}

/* The drop-down with sorting alternatives in schedule*/
.drop-down-schedule{
    height: 20px;
    right:5px;
    display: inline-block;
    position: absolute;
}

/* Font for top month text in schedule*/
.month-schedule{
    font-size: 1em;
    width: 150px;
    text-align: center;
}

/* Margin between buttons pager schedule */
.margin-pager{
    display: inline-block;
    width: 40px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.wrapper-pager{
    width: 100%;
    text-align: center;
}

/* Font for the characters inside pager buttons */
.day-char{
    font-size: 0.8em;
    color: white;
    padding-top:8px;
}

/*Font for numbers inside pager buttons*/
.day-num{
    font-size: 1.1em;
    color: white;
}

/* Used for centering */
.complete-center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}


/* Start page banner */
.banner-start{
    width: 100%;
    height: auto;
}

.banner-start img{
    max-width: 100%;
    height: auto;
}

/* Item grid in schedule */
.info-schedule{
    display: inline-block;
    width:auto;
    padding-right: 20px;
}

.checkbox-wrapper-schedule{
    vertical-align:top;
    display: inline-block;
    width:60px;
    height: 32px;
    margin-top: -16px;
    position:absolute;
    right: 20px;
    top: 50%;
}

.item-wrapper-schedule{

}

/* Schedule item collapse animations */
.list .item.item-divider {
    transition: 0.09s all linear;
}

.list .item.item-divider.active {
    background: #dddddd;
}

.list .item.item-accordion {
    transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
    line-height: 0;
}

/* womENcourage-themed button */
.button.button-womencourage {
    border-color: #300330;
    background-color: #520752;
    color: #fff; }
.button.button-womencourage:hover {
    color: #fff;
    text-decoration: none; }
.button.button-womencourage.active, .button.button-womencourage.activated {
    border-color: #300330;
    background-color: #300330;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
.button.button-womencourage.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #520752; }
.button.button-womencourage.button-icon {
    border-color: transparent;
    background: none; }
.button.button-womencourage.button-outline {
    border-color: #520752;
    background: transparent;
    color: #520752; }
.button.button-womencourage.button-outline.active, .button.button-womencourage.button-outline.activated {
    background-color: #520752;
    box-shadow: none;
    color: #fff; }

/* womENcourage-themed header bar */
.bar.bar-womencourage {
    border-color: #300330;
    background-color: #520752;
    background-image: linear-gradient(0deg, #300330, #300330 50%, transparent 50%);
    color: #fff; }
.bar.bar-womencourage .title {
    color: #fff; }
.bar.bar-womencourage.bar-footer {
    background-image: linear-gradient(180deg, #300330, #300330 50%, transparent 50%); }

/* Navigation icon */
button.ion-navicon {
    color: #ffffff !important;
}

/* Side menu colors */
ion-side-menu {
    background-color: #A268A0 !important;
}

ion-side-menu ion-list ion-item.item {
    border-color: #520752;
}

ion-side-menu ion-list ion-item.item a {
    background-color: #A268A0 !important;
    color: white;
}

/* Schedule pager */
.slider-pager {
    top: 10px;
    bottom: initial;
}

.slider-pager .slider-pager-page{
    color: purple;
}

.item-avatar i:first-child, .item-avatar .item-img {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px; }
